* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    font-size: 20px;
}

header {
    width: 100%;
    height: 69px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    background-color: #EC362D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 146px auto 0 auto;
}

span {
    font-weight: bold;
}

h1 {
    color: #B9B9B9;
    margin: 33px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    filter: brightness(92%);
}

.hide-class {
    display: none;
}

.userQuizzes {
    width: 1050px;
}

.filledUserQuizzes {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filledUserQuizzes ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.filledUserQuizzes img {
    min-width: 340px;
    height: 181px;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent)
}

.filledUserQuizzes li {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 64.58%);
    margin-bottom: 12px;
}

.filledUserQuizzes ion-icon {
    margin-left: 17px;
    width: 30px;
    height: 30px;
    color: #EC362D;
}

.filledUserQuizzes ion-icon:hover {
    cursor: pointer;
}

.filledUserQuizzes span {
    display: flex;
    align-items: center;
}

.filledUserQuizzes p {
    position: absolute;
    color: #FFFFFF;
    bottom: 16px;
    left: 8px;
}

.emptyUserQuizzes {
    border: 2px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyUserQuizzes button {
    margin: 0 auto 33px auto;
    padding: 7px;
    background-color: #FAFAFA;
    border: 2px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    font-size: 21px;
    width: 136px;
}

.emptyUserQuizzes button:hover {
    cursor: pointer;
}

.allQuizzes {
    margin: 48px auto 0 auto;
    width: 1050px;
}

.allQuizzes ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-around;
}

.allQuizzes img {
    min-width: 340px;
    height: 181px;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent)
}

.allQuizzes li {
    position: relative;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, black 64.58%);
    margin-bottom: 12px;
}

.allQuizzes li:hover {
    cursor: pointer;
}

.allQuizzes p {
    position: absolute;
    color: #FFFFFF;
    bottom: 16px;
    left: 8px;
}

.quizzPage {
    width: 100%;
    position: absolute;
    top: 69px;
}

.quizzCover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizzCover img {
    width: 100%;
    height: 227px;
    filter: brightness(60%);
    position: relative;
}

.quizzCover p {
    position: absolute;
    color: #FFFFFF;
    font-size: 39px;
    text-align: center;
}

.quizzQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 759px;
    background-color: #FFFFFF;
    margin: 42px auto;
}

.questionText {
    margin: 27px auto 20px auto;
    background-color: green;
    width: 688px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.possibleAnswers {
    width: 688px;
    margin: 0 auto;
}

.possibleAnswers ul {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

.possibleAnswers img {
    width: 330px;
    height: 175px;
}

.possibleAnswers p {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 16px;
}

.quizzResult {
    height: 430px;
    width: 759px;
    margin: 0 auto;
    background-color: #FFFFFF
}

.quizzResult img {
    height: 273px;
    width: 364px;
}

.successText {
    background-color: #EC362D;
    width: 727px;
    height: 99px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
}

.successText p {
    font-size: 23px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

.levelInfo {
    display: flex;
    margin: 18px auto;
    justify-content: space-around;
    font-size: 19px;
    font-weight: bold;
    color: #484848;
    line-height: 25px;
}

.levelText {
    height: 250px;
    width: 328px;
}

.resultButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restartQuizzButton {
    background-color: #EC362D;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    font-size: 21px;
    color: #FFF5F4;
    margin: 57px auto 0px auto;
}

.homeButton {
    color: #818181;
    font-size: 21px;
    background-color: #FAFAFA;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}


@media (max-width: 1110px) {

    header {
        width: 100%;
    }

    main {
        margin: 100px auto 0 auto;
    }

    .userQuizzes {
        width: 100%;
    }

    .emptyUserQuizzes {

        height: 181px;
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .filledUserQuizzes {
        width: 100%;
        align-items: center;
    }

    .filledUserQuizzes ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allQuizzes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    } 

    .allQuizzes ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .allQuizzes span {
        display: flex;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }

    .quizzPage {
        width: 100%;
    }

    .quizzCover img {
        height: 142px;       
    }

    .quizzQuestion {
        margin: 24px auto;
        width: 375px;
    }

    .questionText {
        margin: 18px auto 13px auto;
        background-color: rebeccapurple;
        width: 340px;
        height: 89px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .possibleAnswers {
        width: 340px;
    }

    .possibleAnswers img {
        width: 163px;
        height: 113px;
    }

    .possibleAnswers p {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 12px;
        font-size: 13px;
    }

    .quizzResult {
        height: 500px;
        width: 375px;
        margin: 0 auto;
        background-color: #FFFFFF
    }

    .quizzResult img {
        height: 255px;
        width: 340px;
    }

    .successText {
        width: 340px;
        height: 99px;
    }

    .successText p {
        font-size: 19px;
    }

    .levelInfo {
        flex-direction: column;
        margin: 18px auto;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: bold;
        color: #484848;
        line-height: 25px;
    }

    .levelInfo p {
        font-size: 17px;
    }

    .levelText {
        margin-top: 18px;
    }

    .resultButtons {
        margin-top: 0px;
    }

    .restartQuizzButton {
        width: 220px;
        height: 44px;
    }

    .homeButton {
        width: 220px;
        height: 44px;
    }
}